.no-scroll {
  overflow: hidden;
}
.header {
  height: 10rem;
  position: relative;
  z-index: 200;
  transition: all 0.5s ease;
}
.header.sticky{
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  left: 0;
  background-color: var(--second-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.contenedor-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  height: 100%;
  transition: all 0.5s ease;
}
.contenedor-header.sticky{
  padding: 1rem 0;
}
.nav__logo img {
  width: 20rem;
  text-align: center;
}
.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
}
.nav__btns-icon i {
  color: var(--white-color);
  font-size: 2.5rem;
  cursor: pointer;
}
.nav__menu {
  width: 70%;
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  height: 100vh;
  background-color: var(--white-color);
  transition: 0.5s ease;
}
.nav__menu.show-menu .nav__logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  background-color: var(--second-color);
  height: 15vh;
  border-bottom: 3px solid var(--first-color);
}

.nav__link {
  padding-left: 3rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
  padding-bottom: 3rem;
}
.nav__close {
  color: var(--first-color);
  font-size: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}
.show-menu {
  left: 0;
}
@media (min-width: 768px) {
  .nav__btns-icon:last-child {
    display: none;
  }
  .nav__menu {
    left: 0;
    height: auto;
    position: relative;
    background-color: transparent;
  }
  .nav__menu .nav__logo img {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: center;
  }
  .nav__item {
    margin-top: 0;
    margin-right: 2rem;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
  .nav__link {
    font-size: 1.4rem;
    padding-bottom: 0;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    background-image: linear-gradient(
      to right,
      var(--first-color),
      var(--first-color) 50%,
      var(--white-color) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2 ease-in-out;
  }
  .nav__link::before {
    content: "";
    background: var(--first-color);
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }
  .nav__link:hover {
    background-position: 0;
  }
  .nav__link:hover::before {
    width: 100%;
  }
  .nav__close {
    display: none;
  }
}
@media (min-width: 924px) {
  .nav__link {
    font-size: 1.8rem;
  }
}
/*info*/
.nav__info{
  background-color: var(--second-color);
  position: fixed;
  width: 100%;
  top: 0;
  right: -100%;
  height: 100vh;
  color: var(--white-color);
  text-align: center;
  padding: 4rem 2rem;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}
.info__logo img{
  margin-bottom: 5rem;
}
.info__content-item{
  margin-bottom: 3rem;
}
.info__content-item i{
  color: var(--first-color);
  font-size: 2.5rem;
}
.info__content-item h2{
  font-size: 2.2rem;
  font-weight: 500;
}
.info__content-item p{
  line-height: 1.5;
}
.info__content-item .fa-brands{
  margin-right: 2rem;
}
.info__content-item .fa-brands:last-child{
  margin-right: 0;
}
.nav__close-info{
  color: var(--first-color);
  font-size: 2.5rem;
  position: absolute;
  top: 2rem;
  cursor: pointer;
}
.show-menu-info{
  right: 0;
}
/*slider*/
.slider,
.header__page {
  height: 70vh;
  margin-top: -10rem;
  position: relative;
}
@media (max-height:790px) {
  .slider{
    height: 100vh;
  }
}
/*.header__nosotros{
  height: 70vh;
}*/
.slider .list .item,
.header__page-content {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.header__page-content{
  opacity: 1;
}
.slider .list .item img,
.header__page-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after,
.header__page-content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(36, 57, 73, 0.5) 0%,
    rgba(12, 22, 32, 0.5) 100%
  );
}
.slider .list .item .content,
.content__page {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 70rem;
  max-width: 90%;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  z-index: 1;
}
.content__page{
  inset: 0 0 0 0;
  background: transparent;
  backdrop-filter: blur(0);
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.content__subtitle {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.content__title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: var(--white-color);
}
.content__description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--white-color);
}
.content__page .content__title,
.content__page .content__description{
  color: var(--first-color);
}
.button {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--second-color);
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--first-color);
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}
.button:hover{
  color: var(--first-color);
  background-color: var(--second-color);
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active .content__subtitle,
.slider .list .item.active .content__title,
.slider .list .item.active .content__description,
.slider .list .item.active .button {
  transform: translateY(3rem);
  filter: blur(2rem);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active .content__title {
  animation-delay: 0.7s;
}
.slider .list .item.active .content__description {
  animation-duration: 1s;
}
.slider .list .item.active .button {
  animation-duration: 1.3s;
}
.button i {
  margin-left: 1rem;
}
.arrows {
  display: none;
}
.contenedor-thumbnail {
  position: relative;
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
}
.thumbnail {
  position: absolute;
  bottom: 2rem;
  z-index: 11;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 20rem;
  box-sizing: border-box;
  overflow: auto;
  justify-content: flex-end;
  align-items: center;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.item__thumbnail {
  width: 15rem;
  height: 18rem;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.item__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border: 1px solid var(--white-color);
}
.item__thumbnail.active {
  filter: brightness(0.8);
}
.item__thumbnail .content {
  position: absolute;
  inset: auto 1rem 1rem 1rem;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .nav__info{
    width: 70%;
  }
  .slider {
    height: 80vh;
  }
}
@media (min-width: 900px) {
  .nav__info{
    width: 50%;
  }
  .slider .list .item .content {
    top: 30%;
  }
}
@media (min-width: 1024px) {
  .nav__info{
    width: auto;
  }
}
@media (min-width: 651px) {
  .thumbnail {
    height: 13rem;
  }
  .item__thumbnail {
    width: 10rem;
    height: 12rem;
  }
}
@media (min-width: 1500px) {
  .slider .list .item .content {
    left: 20%;
  }
}
@media (max-width: 650px) {
  .thumbnail {
    bottom: 1.5rem;
    height: 12rem;
  }
  .item__thumbnail {
    width: 8rem;
    height: 10rem;
  }
}

