.seccion-servicios{
    background-color: var(--container-ligth-color);
}
.imagen-servicios img{
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.descripcion-servicios h3{
    display: inline-block;
color: var(--second-color);
border-bottom: solid .3rem var(--first-color);
margin-bottom: 2rem;
}
@media (min-width:880px) {
    .contenedor-servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .imagen-servicios img{
        margin-bottom: 0;
    }
}
@media (min-width:1200px) {
    .descripcion-servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .descripcion-servicios h3{
        display:inline;
    }
}