<footer class="footer seccion">
  <div class="contenedor contenedor-footer">
    <div class="footer-about">
      <a href="/index.html">
        <img
          src="img/logo_madermel.webp"
          alt="Logotipo de Bienes Raices"
        />
      </a>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate,
        exercitationem aspernatur obcaecati quo temporibus id repudiandae at
        eum, accusamus neque tenetur. Tempora voluptate dolores quos.
      </p>
      <a href="#" class="footer-icon">
        <img src="../img/facebook.svg" alt="icono de facebook" />
      </a>
      <a href="#" class="footer-icon">
        <img src="../img/instagram.svg" alt="icono de instagram" />
      </a>
      <a href="#" class="footer-icon">
        <img src="../img/linkedin.svg" alt="icono de linkedin" />
      </a>
    </div>

    <div class="footer-navegacion">
      <h3>Navegación</h3>
      <a href="nosotros.html">Nosotros</a>
      <a href="proyectos.html">Proyectos</a>
      <a href="servicios.html">Servicios</a>
      <a href="contacto.html">Contacto</a>
    </div>

    <div class="footer-servicios">
      <h3>Servicios</h3>
      <a href="#">Construcción</a>
      <a href="#">Carpinteria</a>
      <a href="#">Consultoria</a>
      <a href="#">Acabados</a>
    </div>

    <div class="footer-contacto">
      <h3>Contacto</h3>
      <div class="footer-contact-info">
        <img src="img/phone.svg" alt="icono telefono" />
        <p>+51 940 702 428</p>
      </div>
      <div class="footer-contact-info">
        <img src="img/email.svg" alt="icono email" />
        <p>info@madermel.com<br />jose.salas@madermel.com</p>
      </div>
      <div class="footer-contact-info">
        <img src="img/locacion.svg" alt="icono locacion" />
        <p>
          Jirón José Diez Canseco 3402<br />
          urb. Conde Villa Señor - SMP
        </p>
      </div>
    </div>
  </div>
  <div class="copy_right">
    <p>Todos los derechos reservados &copy; <span>dasg_dev</span></p>
  </div>
</footer>
