<!--Inicio Header-->
<header class="header" id="header">
  <nav class="contenedor contenedor-header">
    <div class="nav__logo">
      <a href="../index.html">
        <img src="../img/logo_madermel.webp" alt="Logo Madermel" />
      </a>
    </div>

    <div class="nav__menu" id="nav-menu">
      <a href="index.html" class="nav__logo">
        <img src="../img/logo_madermel.webp" alt="Logo Madermel" />
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="index.html" class="nav__link">INICIO</a>
        </li>
        <li class="nav__item">
          <a href="nosotros.html" class="nav__link"><i class="fa-solid fa-eject"></i>NOSOTROS</a>
        </li>
        <li class="nav__item">
          <a href="servicios.html" class="nav__link"><i class="fa-solid fa-server"></i>SERVICIOS</a>
        </li>
        <li class="nav__item">
          <a href="proyectos.html" class="nav__link"><i class="fa-solid fa-diagram-project"></i>PROYECTOS</a>
        </li>
        <li class="nav__item">
          <a href="contacto.html" class="nav__link"><i class="fa-regular fa-id-card"></i>CONTACTO</a>
        </li>
      </ul>
      <div class="nav__close" id="nav-close">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <!--INFORMACION-->
    <div class="nav__info" id="nav-info">
      <a href="index.html" class="info__logo nav__logo">
        <img src="../img/logo_madermel.webp" alt="Logo Madermel" />
      </a>
      <div class="info__content">
        <div class="info__content-item">
          <i class="fa-solid fa-square-phone"></i>
          <h2>Teléfono</h2>
          <p>+51 940 702 428</p>
        </div>
        <div class="info__content-item">
          <i class="fa-solid fa-envelope"></i>
          <h2>Correo</h2>
          <p>info@madermel.com</p>
          <p>ventas@madermel.com</p>
        </div>
        <div class="info__content-item">
          <i class="fa-solid fa-location-dot"></i>
          <h2>Dirección</h2>
          <p>Jirón Diez Canseco 3402</p>
          <p>Urb. Condevilla Señor - SMP</p>
        </div>
        <div class="info__content-item">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="nav__close-info" id="nav-close-info">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <!--INFORMACION FIN-->
    <div class="nav__btns">
      <a href="https://walink.co/651b1e" class="nav__btns-icon" id="nav-wsp">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <div class="nav__btns-icon" id="nav-info-icon">
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <div class="nav__btns-icon" id="nav-toggle">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </nav>
</header>
<!--Fin Header-->
