<header class="header seccion">
  <div class="contenedor contenedor-header">
    <div class="logo">
      <a href="../index.html">
        <img src="../img/logo_madermel.webp" alt="Logo Madermel" />
      </a>
    </div>
    <nav class="menu" id="nav-menu">
      <ul class="navegacion">
        <li>
          <a href="../index.html">inicio</a>
        </li>
      </ul>
      <ul class="navegacion">
        <li>
          <a href="../nosotros.html">nosotros</a>
        </li>
      </ul>
      <ul class="navegacion">
        <li>
          <a href="../servicios.html">servicios</a>
        </li>
      </ul>
      <ul class="navegacion">
        <li>
          <a href="../proyectos.html">proyectos</a>
        </li>
      </ul>
      <ul class="navegacion">
        <li>
          <a href="../contacto.html">contacto</a>
        </li>
      </ul>
      <div class="nav__close" id="nav-close">
        <img src="../img/close.svg" alt="icono de cerrar" />
      </div>
    </nav>
    <div class="icon-menu">
      <div><img src="../img/whatsapp.svg" alt="icono whatsapp" /></div>
      <div><img src="../img/info.svg" alt="icono información" /></div>
      <div id="nav-toggle">
        <img
          src="../img/menu_bars.svg"
          alt="icono del menu"
          class="menu-icon"
        />
      </div>
    </div>
  </div>
</header>
