<!--SLIDER-->
<div class="slider">
  <!--lis item-->
  <div class="list">
    <div class="item active">
      <img src="../img/IMG_028.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Nosotros</div>
        <div class="content__title">Brindamos el mejor servicio</div>
        <div class="content__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum culpa
          laborum voluptatibus pariatur deleniti minus.
        </div>
        <a class="button" href="../nosotros.html"
          >Explorar<i
            class="fa-solid fa-arrow-right-long portal__button-icon"
          ></i
        ></a>
      </div>
    </div>
    <div class="item">
      <img src="../img/IMG_057.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Servicios</div>
        <div class="content__title">El sueño cobre vida</div>
        <div class="content__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum culpa
          laborum voluptatibus pariatur deleniti minus.
        </div>
        <a class="button" href="../servicios.html"
          >Explorar<i
            class="fa-solid fa-arrow-right-long portal__button-icon"
          ></i
        ></a>
      </div>
    </div>
    <div class="item">
      <img src="../img/IMG_020.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Proyectos</div>
        <div class="content__title">Del concepto a la creación</div>
        <div class="content__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum culpa
          laborum voluptatibus pariatur deleniti minus.
        </div>
        <a class="button" href="../proyectos.html"
          >Explorar<i
            class="fa-solid fa-arrow-right-long portal__button-icon"
          ></i
        ></a>
      </div>
    </div>
    <div class="item">
      <img src="../img/IMG_060.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Contacto</div>
        <div class="content__title">Un mensaje mas</div>
        <div class="content__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum culpa
          laborum voluptatibus pariatur deleniti minus.
        </div>
        <a class="button" href="../contacto.html"
          >Explorar<i
            class="fa-solid fa-arrow-right-long portal__button-icon"
          ></i
        ></a>
      </div>
    </div>
  </div>
  <!--buttons arrows-->
  <div class="arrows">
    <button id="prev"><</button>
    <button id="next">></button>
  </div>
  <!--thumbnail-->
  <div class="contenedor-thumbnail">
    <div class="thumbnail">
      <div class="item__thumbnail active">
        <img src="../img/IMG_028.webp" />
      </div>
      <div class="item__thumbnail">
        <img src="../img/IMG_057.webp" />
      </div>
      <div class="item__thumbnail">
        <img src="../img/IMG_020.webp" />
      </div>
      <div class="item__thumbnail">
        <img src="../img/IMG_060.webp" />
      </div>
    </div>
  </div>
</div>
