<!--SLIDER-->
<div class="slider">
  <!--lis item-->
  <div class="list">
    <div class="item active">
      <img src="/img/IMG_028A.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Nosotros</div>
        <div class="content__description">
          En MADERMEL S.A.C., contamos con 18 años de experiencia creando muebles de melamine y puertas contraplacadas con calidad y diseño personalizado.
        </div>
        <a class="button" href="../nosotros"
          >Explorar<i class="icon portal__button-icon"
            ><svg class="icon-svg"><use href="#fa-arrow-right-long"></use></svg
          ></i
        ></a>
      </div>
    </div>
    <div class="item">
      <img src="/img/IMG_057.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Servicios</div>
        <div class="content__description">
          Ofrecemos diseños, fabricación y mantenimiento de muebles de melamine y puertas contraplacadas, adaptados a tus necesidades.
        </div>
        <a class="button" href="../servicios"
          >Explorar<i class="icon portal__button-icon"
            ><svg class="icon-svg"><use href="#fa-arrow-right-long"></use></svg
          ></i
        ></a>
      </div>
    </div>
    <div class="item">
      <img src="/img/IMG_020.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Proyectos</div>
        <div class="content__description">
          Descubre nuestros proyectos realizados, donde combinamos calidad, innovación y atención a cada detalle.
        </div>
        <a class="button" href="../proyectos"
          >Explorar<i class="icon portal__button-icon"
            ><svg class="icon-svg"><use href="#fa-arrow-right-long"></use></svg
          ></i
        ></a>
      </div>
    </div>
    <div class="item">
      <img src="/img/IMG_060.webp" alt="Imagen portal Index" />
      <div class="content">
        <div class="content__subtitle">Contacto</div>
        <div class="content__description">
          Estamos aquí para ayudarte. Contáctanos y haz realidad tus proyectos con MADERMEL S.A.C.
        </div>
        <a class="button" href="../contacto"
          >Explorar<i class="icon portal__button-icon"
            ><svg class="icon-svg"><use href="#fa-arrow-right-long"></use></svg
          ></i
        ></a>
      </div>
    </div>
  </div>
  <!--buttons arrows-->
  <div class="arrows">
    <button id="prev"><</button>
    <button id="next">></button>
  </div>
  <!--thumbnail-->
  <div class="contenedor-thumbnail">
    <div class="thumbnail">
      <div class="item__thumbnail active">
        <img src="/img/IMG_028A.webp" />
      </div>
      <div class="item__thumbnail">
        <img src="/img/IMG_057.webp" />
      </div>
      <div class="item__thumbnail">
        <img src="/img/IMG_020.webp" />
      </div>
      <div class="item__thumbnail">
        <img src="/img/IMG_060.webp" />
      </div>
    </div>
  </div>
</div>
